/*GENERAL*/
/* Quita rellenos y mÃĄrgenes */
* {
	margin: 0;
	padding: 0;
}
/* Clase para eliminar flotaciones */
.clear {
	clear: both;
}
/* Sacamos borde alrededor de imÃĄgenes enlace */
img {
	border: 0;
}

.App {
	text-align: center;
	background: #
}
.App-header {
	background-color: #195bdf;
	height: 80px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: rgb(245, 238, 238);
}

.App-header h1 {
	font-size: 20px;
	text-align: left;
}

.App-link {
	color: #61dafb;
}
label {
	padding: 10px;
}
.auth-inner {
	width: 550px;
	/* height: 350px; */
	margin: auto;
	background: #ffffff;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 10px 20px;
	margin-top: 50px;
	border-radius: 15px;
	transition: all .3s;
}

.mainPage {
	width: 98%;
	height: 100%;
	display: flex;
	background: #ffffff;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 20px;
	margin-top: 20px;
}

.form-group {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px;
}

.cartContainer,.productoContainer {
	width: 98%;
	margin: auto;
	background: #ffffff;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 10px 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
	clear: both;
}


